.header{
    background-image: url(https://bizweb.dktcdn.net/100/319/480/themes/820697/assets/bg_breadcrumb.jpg?1703843552423);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 292px;
    color: white;
}

.text-center > p > a{
    color: #ff0000;
}

.text-center>p>a:hover{
    color: black;
}

.footer{
    padding: 65px 0 65px;
    background: #191919
}


.bannerphu{
  background-image: url(../uploads/banner\ 4.webp);
  background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.sidebar{
  background-color: #4e73df;
  color: white;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
